<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Progres Kompresi File</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1 class="display-4">Progres Kompresi File</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1 class="display-5">Upload file berhasil. Melakukan kompresi</h1>
                <h1 class="display-6">Progress kompresi : <span id="progres"></span></h1>
            </div>
        </div>
    </div>
    
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    WebSocketTest();
    function WebSocketTest() {

        if ("WebSocket" in window) {
            var ws_stomp_display = new SockJS('http://152.118.148.95:15674/stomp');
            var client_display = Stomp.over(ws_stomp_display);
            var mq_queue_display = "/exchange/1606884344/".concat('{{ routing_key }}');
            var on_connect_display = function () {
                console.log('connected');
                client_display.subscribe(mq_queue_display, on_message_display);
            };
            var on_error_display = function () {
                console.log('error');
            };
            var on_message_display = function (m) {
                console.log('message received');
                var obj = JSON.parse(m.body);
                console.log(obj.data.percentage);
                $('#progres').html(obj.data.percentage + "%");
            };
            client_display.connect('0806444524', '0806444524', on_connect_display, on_error_display, '/0806444524');
        } else {
            // The browser doesn't support WebSocket
            alert("WebSocket NOT supported by your Browser!");
        }
    }
</script>
</html>